<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>D3 World Map</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="world" style="position: relative; width: 1000px; height: 700px;"></div>
    </div>
    
    

    
    <scripts>
        <script src="/bower_components/d3/d3.js"></script>
        <script src="/bower_components/topojson/topojson.js"></script>
        <script src="/bower_components/datamaps/dist/datamaps.world.js"></script>

        <script src="/app/scripts/app.js"></script>        
        <script src="/app/scripts/data.js"></script>

    </scripts>
</body>
</html>
